<% content_for :title do %>Hiptest dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr-ci" data-view="Text" data-title="CI" data-text=""></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr-sprint-1" data-view="Text" data-title="Sprint 1" data-text=""></div>
    </li>
  </ul>
</div>